<!DOCTYPE html>
<html>
<head>
  <title>Book Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
 
 
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Our Books" %>
  </div>
  <div id="columns">
    <div id="side">

      <% unless session[:user_id] %>
          <%= button_to 'Login as Admin', login_path, method: :get   %>
      <% end %>

      <% if session[:user_id] %>
          <%= button_to 'Logout', logout_path, method: :delete   %>
      <% end %>

      <div id='cart'>
        <%= render @cart %>
      </div>

      <% if session[:user_id] %>
          <ul>
            <li><%= link_to 'Orders',   orders_path   %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Shopper', shopper_path %></li>
            <li><%= link_to 'Users',    users_path    %></li>
          </ul>
      <% end %>

    </div>
    <div id="main">
 
      <%= yield %>
 
    </div>
  </div>
 
 
</body>
</html>
